<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container'>
    <%= link_to 'Cepik', root_path, class: 'navbar-brand text-danger' %>
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse'>
      <ul class='navbar-nav mr-auto pl-5'>
        <li class='nav-item'>
          <%= link_to 'Home', root_path, class: "nav-link #{'active' if current_page? root_path}"  %>
        </li>
        <li class='nav-item'>
          <%= link_to 'Car list', cars_path, class: "nav-link #{'active' if current_page? cars_path}"  %>
        </li>
      </ul>
      <ul class='navbar-nav ml-auto pr-5'>
        <li class='nav-item'>
          <% if user_signed_in? %>
            <div class='form-inline'>
              <p class= 'text-white mb-0'><%= current_user.email %></p>
              <%=link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </div>
          <% else %>
            <%= link_to 'Sign in', new_user_session_path, class: "nav-link #{'active' if current_page? new_user_session_path}"  %>
          <% end %>
        </li>
        <li class='nav-item'>
          <% if current_user && current_user.is_admin? %>
            <%= link_to 'Users Manager', users_path, class: 'nav-link' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
