<%= form_with model: @car, local: true do |form| %>
  <% if @car.errors.any? %>
    <h2>Errors:</h2>
    <ul>
      <% @car.errors.full_messages.each do |message|%>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :colour %>
    <%= form.text_field :colour %>
  </p>
  <%= form.submit 'Save' %>
<% end %>
