<%= form_with model: @car, local: true do |form| %>
<div class="row">
    <div class="col-1">
    </div>
    <div class="col-5">
      <p>
        <%= form.label :brand %>
        <%= form.text_field :brand %>
      </p>
      <p>
        <%= form.label :colour %>
        <%= form.text_field :colour %>
      </p>
      <p>
        <%= form.label :vin_number %>
        <%= form.text_field :vin_number %>
      </p>
      <p>
        <%= form.label :license_plate %>
        <%= form.text_field :license_plate %>
      </p>
      <p>
        <%= form.label 'Registration country' %>
        <%= form.select :country_id, options_for_select(@countries, selected: @car.country_id), prompt: 'Select country'  %>
      </p>
      <p>
        <%= form.label :year_of_production %>
        <%= form.text_field :year_of_production %>
      </p>
      <p>
        <%= form.label :year_of_registration %>
        <%= form.text_field :year_of_registration %>
      </p>
      <p>
        <% if @car.new_record? %>
          <%= form.fields_for :mileages, @car.mileages do |builder| %>
            <%= builder.label :distance %>
            <%= builder.text_field :distance %>
          <% end %>
        <% else %>
        <%= form.label :distance %>
        <%= form.text_field :distance, value: car_distance(@car), disabled: true %>
        <% end %>
      </p>
      <%= form.submit 'Save', class: "btn btn-primary" %>
    </div>
    <% if @car.errors.any? %>
      <div class="col-4 p-0">
        <div class="alert alert-danger">
          <h2>Errors:</h2>
          <ul>
            <% @car.errors.full_messages.each do |message|%>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
