<section class="bg-light" style="min-height: 400px">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <% if flash[:notice] %>
          <div class="alert alert-success text-center mb-0" role="alert">
            <h6><%= flash[:notice] %></h6>
          </div>
        <% end %>
      </div>
      <div class="col-5 text-left text-danger">
        <h1>Welcome To Car List</h1>
      </div>
      <div class="col-3 text-right pt-3">
        <%= link_to 'Add new car', new_car_path, class: "btn btn-success" %>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead class="bg-info text-light">
          <th>No.</th>
          <th>Brand</th>
          <th>Colour</th>
          <th style="white-space: nowrap">Vin number</th>
          <th style="white-space: nowrap">License plate</th>
          <th style="white-space: nowrap">Registration country</th>
          <th style="white-space: nowrap">Year of production</th>
          <th style="white-space: nowrap">Year of registration</th>
          <th>Action</th>
        </thead>
        <% @cars.each.with_index(1) do |car, index| %>
          <tbody class=<%= background_colour(car) %>>
            <td><%= index %></td>
            <td style="white-space: nowrap"><%= link_to car.brand, car_path(car), class: "text-dark" %></td>
            <td style="white-space: nowrap"><%= car.colour %></td>
            <td style="white-space: nowrap"><%= car.vin_number %></td>
            <td style="white-space: nowrap"><%= car.license_plate %></td>
            <td style="white-space: nowrap"><%= country_name(car) %></td>
            <td style="width: 15px"><%= car.year_of_production %></td>
            <td style="width: 15px"><%= car.year_of_registration %></td>
            <td style="white-space: nowrap"><%= link_to 'Show', car_path(car), class: "text-dark" %> |
              <%= link_to 'Delete', car_path(car), method: :delete, class: "text-dark" %> |
              <%= link_to 'Edit', edit_car_path(car), class: "text-dark" %>
            </td>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</section>
