<h1>Welcome To Car List</h1>
<%= link_to 'Add new car', new_car_path %>
<table>
  <thead>
    <th>No.</th>
    <th>Name</th>
    <th>Colour</th>
    <th>Action</th>
  </thead>
  <% @cars.each.with_index(1) do |car, index| %>
    <tbody>
      <td><%= index %></td>
      <td><%= link_to car.name, car_path(car) %></td>
      <td><%= car.colour %></td>
      <td><%= link_to 'show', car_path(car) %> | <%= link_to 'delete', car_path(car), method: :delete %> | <%= link_to 'edit', edit_car_path(car) %></td>
    </tbody>
  <% end %>
</table>
