<table>
  <thead>
    <td>Name</td>
    <td>Colour</td>
    <td>Vin number</td>
    <td>License plate</td>
    <td>Year of production</td>
    <td>Year of registration</td>
    <td>Action</td>
  </thead>
  <tbody>
    <td><%= @car.name %></td>
    <td><%= @car.colour %></td>
    <td><%= @car.vin_number %></td>
    <td><%= @car.license_plate %></td>
    <td><%= @car.year_of_production %></td>
    <td><%= @car.year_of_registration %></td>
    <td><%= link_to 'Back', :back %> | <%= link_to 'delete', car_path(@car), method: :delete %> | <%= link_to 'edit', edit_car_path(@car) %> </td>
  </tbody>
</table>
