<section class="bg-light" style="min-height: 400px">
  <div class="container">
    <div class="row">
      <table class="table">
        <thead class="bg-info text-light">
          <td>Name</td>
          <td>Colour</td>
          <td>Vin number</td>
          <td>License plate</td>
          <td>Registration country</td>
          <td>Production at</td>
          <td>Registration at</td>
          <td>Action</td>
        </thead>
        <tbody class="bg-warning">
          <td><%= @car.name %></td>
          <td><%= @car.colour %></td>
          <td><%= @car.vin_number %></td>
          <td><%= @car.license_plate %></td>
          <td>
            <% if !@car.registration_country.blank? %>
              <%= Country.where(country_code: @car.registration_country).map{|full_name| full_name.country}.join(", ") %>
            <% else %>
              <p>Please Complete Data</p>
            <% end %>
          </td>
          <td><%= @car.year_of_production %></td>
          <td><%= @car.year_of_registration %></td>
          <td>
            <%= link_to 'Back', :back, class: "text-dark" %> |
            <%= link_to 'Delete', car_path(@car), method: :delete, class: "text-dark" %> |
            <%= link_to 'Edit', edit_car_path(@car), class: "text-dark" %>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</section>
