<section class="bg-light" style="min-height: 400px">
  <div class="container">
    <div class="row">
      <table class="table">
        <thead class="bg-info text-light">
          <th>Brand</th>
          <th>Colour</th>
          <th style="white-space: nowrap">Vin number</th>
          <th style="white-space: nowrap">License plate</th>
          <th style="white-space: nowrap">Registration country</th>
          <th style="white-space: nowrap">Year of production</th>
          <th style="white-space: nowrap">Year of registration</th>
          <th>Action</th>
        </thead>
        <tbody class=<%= background_colour(@car) %>>
          <td style="white-space: nowrap"><%= @car.brand %></td>
          <td style="white-space: nowrap"><%= @car.colour %></td>
          <td style="white-space: nowrap"><%= @car.vin_number %></td>
          <td style="white-space: nowrap"><%= @car.license_plate %></td>
          <td style="white-space: nowrap"><%= country_name(@car) %></td>
          <td style="width: 15px"><%= @car.year_of_production %></td>
          <td style="width: 15px"><%= @car.year_of_registration %></td>
          <td style="white-space: nowrap">
            <%= link_to 'Back', :back, class: "text-dark" %>
            <% if user_signed_in? %>
               | <%= link_to 'Delete', car_path(@car), method: :delete, class: "text-dark"%> |
              <%= link_to 'Edit', edit_car_path(@car), class: "text-dark" %>
            <% end %>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</section>
